<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.deve.user.DevUserMapper">
	<select id="queryUserAndPwd" resultType="DevUser">
		SELECT * FROM appinfodb.dev_user WHERE devCode =#{devCode} AND devPassword=#{devPassword}
	</select>
</mapper>